#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: auto;
  margin: 8rem auto; 
}

#contact .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .col-lg-5,
#contact .col-lg-7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
